<div class="lockscreen-wrapper animated  flipInX">
  <div class="row ">
    <div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-offset-2">
    <div class="profile-wrapper"> 
      <img width="69" height="69" data-src-retina="img/profiles/avatar2x.jpg" data-src="assets/img/profiles/avatar.jpg" src="img/profiles/avatar.jpg" alt=""> 
    </div>
    <form class="user-form" action="/#/" method="post">
      <h2 class="user">{{user.name}} <span class="semi-bold">{{user.surname}}</span></h2>
      <input type="password" placeholder="Password" >
      <button type="submit" class="btn btn-primary "><i class="fa fa-unlock"></i></button>
    </form>
    </div>
   </div>
  </div>
  <div id="push"></div>