<header ng-include="'views/partials/header.blade.php'"></header>

<!-- BEGIN PAGE CONTAINER -->
<div class="page-container row-fluid">
  
  <sidebar ng-include="'views/partials/sidebar.blade.php'"></sidebar>

  <!-- BEGIN PAGE CONTAINER-->
  <div class="page-content">

    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
      <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>Widget Settings</h3>
      </div>
      <div class="modal-body"> Widget settings form goes here </div>
    </div>

    <div class="clearfix"></div>

    <div class="content"> 
      <!-- LOAD CONTENT --> 
      @yield('content')
      <!-- LOAD CONTENT --> 		
    </div>
    
  </div>

 </div>
<!-- END PAGE CONTAINER -->

<chat ng-include="'views/partials/chat.blade.php'"> </chat> 